<div class="container-xxl flex-grow-1 container-p-y page-header">
    <h1 class="page-title" style="font-size: 40px;">Barang Masuk</h1>
  </div>
  
  <div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row gy-6">
        <div class="card mb-4">
          <div class="card-body">
            <!-- Form Pencarian -->
            <div class="d-flex justify-content-between align-items-center mb-4" style="margin: 20px;">
              <div class="input-group" style="max-width: 300px;">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Cari Barang..."
                  [(ngModel)]="searchQuery"
                  (input)="searchBarangMasuk()"
                />
                <button class="btn btn-outline-secondary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
                </button>
              </div>
              <button class="btn btn-primary" (click)="tampilkanFormTambah()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16" style="margin-right: 10px;">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                  </svg>Tambah Barang Masuk
              </button>
            </div>
  
            <!-- Tabel Daftar Barang Masuk -->
            <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Jenis</th>
                      <th>Nama</th>
                      <th>Merk</th>
                      <th>Jumlah Masuk</th> <!-- Jumlah barang yang dimasukkan -->
                      <th>Tanggal Masuk</th>
                      <th>Keterangan</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaksi of filteredBarangMasukList | paginate: { itemsPerPage: 7, currentPage: p }; trackBy: trackById; let i = index">
                      <td>{{ (p - 1) * 7 + (i + 1) }}</td>
                      <td>{{ transaksi.barang.jenis }}</td>
                      <td>{{ transaksi.barang.nama }}</td>
                      <td>{{ transaksi.barang.merk }}</td>
                      <td>{{ transaksi.jumlah }}</td> <!-- Menampilkan jumlah barang yang dimasukkan -->
                      <td>{{ transaksi.tanggalMasuk | date: 'dd/MM/yyyy' }}</td> <!-- Menampilkan tanggalMasuk -->
                      <td>{{ transaksi.keterangan }}</td> <!-- Menampilkan keterangan -->
                    </tr>
                  </tbody>
                </table>
              </div>
              
              
  
            <!-- Pagination -->
            <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  